---
# front matter for Jekyll
--- 

@import 'variables';
@import 'text';
@import 'navbar';
@import 'programme';
@import 'footer';

* {
  text-decoration: none;
  font-family: 'Calibre';
  list-style: none;
  box-sizing: border-box;
}

#content {
   background: url('/images/Pattern-Tiled-grey.png');
}

.masthead.section {
    padding-top: 2em;
}

@media screen and (min-width: $screen-sm) {
  .masthead.section {
    padding-top: 5em;
  }
}

.content.section {
    padding-bottom: 100px;
}

#title-segment .ui.segment {
  padding: 0.5em;
}

#title-segment {
  padding: 0 2em;
}

@media screen and (min-width: $screen-sm) {
  #title-segment {
    padding: 0 1em 0 0;
  }
}

#title-segment span {
    color: $pink;
}



#intro {
    background-position: right bottom;
    background: url('/images/intro-background.png');
    background-size: cover;
    margin-bottom: 2em;
}

#page-content {
    background: $white;
    padding: 50px 0;
}


#tickets.section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    background: url('/images/tickets-background.png');
    background-position: center;
    min-height: 800px;
    background-repeat: no-repeat;
}

#get-involved {
    margin-top: 150px;
    margin-bottom: 3em;
    background: $white;
}

#partners {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 75px;
    background-color: $black;
    /*background-image: url('images/pattern-translucent.png');*/
}

.side-brand {
  position: fixed;
  height: calc(100% - 60px);
  width: auto;
  top: 60px;
  right: 20px;
}
/* mobile */
@media only screen and (max-width: 767px) {
    #sidebar {
        display: none;
    }
} 

/* mobile, tablet */
@media only screen and (max-width: 1200px) {
   #twt2018 {
        background: $white;
    }
    #tickets {
        background: $white;
    }
    #get-involved {
        //padding: 70px 0; /* to compensate for header */
    }
    #programme {
        background: $white;
        padding: 70px 0; /* to compensate for header */
    }
}

#twt2018 {
    padding-top: 100px;
}

#get-involved {
    /* The logistics email address is too long lol */
    word-break: break-word;
}



