---
layout: default
description: "A 4-day politics, arts and music festival running alongside the Labour Party Conference, working to build left power both inside and outside of Parliament. Liverpool, September 22-25."
title: The World Transformed // September 22-25, Liverpool
---
<div id="intro" class="masthead section" data-background="#000">
    <div class="ui container">
        <div class="ui centered middle aligned stackable grid">
            {% include masthead.html %}
            <div class="row">
                <div class="twelve wide center aligned column">
                    <div class="ui embed" data-source="youtube" data-id="vcZ1whhPDB8">
                    </div>
                </div>
            </div>
            <div class="two column row">
                <div class="six wide column">
                    <a class="ui large fluid pink button" href="#tickets">
                        Tickets
                    </a>
                </div>
                <div class="six wide column">
                    <a class="ui large fluid button" href="#programme">
                        Programme
                    </a>
                </div>
            </div>
        </div>
        <div id="twt2018">
            <div class="ui centered middle aligned stackable grid">
                {% include intro.html %}
            </div>
        </div>
    </div>
</div>
<div id="tickets" class="section" data-background="#ea506e">
    <div class="ui container">
        <div class="ui centered middle aligned stackable grid">
            {% include tickets.html %}
        </div>
    </div>
</div>
<div id="programme" class="section" data-background="#001a89">
    <div class="ui container">
        <div class="ui centered middle aligned stackable grid">
            {% include programme.html %}
        </div>
    </div>
</div>
<div id="get-involved" class="section" data-background="#73f4a1">
    <div class="ui container">
        <div class="ui centered middle aligned stackable grid">
            {% include get_involved.html %}
        </div>
    </div>
</div>
<div id="partners" class="section" data-background="#000">
    <div class="ui container">
        <div class="ui centered middle aligned stackable grid">
            {% include partners.html %}
        </div>
    </div>
</div>
