---
layout: default
description: "A 4-day politics, arts and music festival running alongside the Labour Party Conference. Liverpool, September 22-25."
title: "Press coverage // The World Transformed"
---

<div class="masthead section" data-background="#000">
    <div class="ui container">
        <div class="ui centered middle aligned stackable grid">
            {% include masthead.html %}
        </div>
    </div>
</div>
<div class="content section" data-background="#ea506e">
    <div class="ui container">
        <div id="page-content">
            <h1>Press coverage for TWT 2018</h1>
            <p>
                If you've seen any press coverage or session write-ups that
                we've missed, feel free to send us an email at <a
                href="mailto:press@theworldtransformed.org">press@theworldtransformed.org</a>!
            </p>
            <p>
                Last updated: October 4, 2018
            </p>
            <h2>Before TWT</h2>
            {% include press_before.html %}
            <h2>General overviews</h2>
            {% include press_overviews.html %}
            <h2 id="sessions">Specific sessions</h2>
            {% include press_sessions.html %}
        </div>
    </div>
</div>
