---
layout: default
description: "A 4-day politics, arts and music festival running alongside the Labour Party Conference. Liverpool, September 22-25."
title: "Speakers // The World Transformed"
---
<div class="masthead section" data-background="#000">
    <div class="ui container">
        <div class="ui centered middle aligned stackable grid">
            {% include masthead.html %}
        </div>
    </div>
</div>
<div class="content section" data-background="#ea506e">
    <div class="ui container">
        <div id="page-content">
            <div class="ui stackable grid">
                <div class="twelve wide column">
                    <h1 class="ui header">Speakers</h1>
                </div>
                <div class="four wide column">
                    <a href="/programme" class="ui pink fluid button">
                        View Schedule
                    </a>
                </div>
            </div>
            {% include speakers_table.html %}
        </div>
    </div>
</div>
