#content {
    background: url('images/pattern-black.png');
}

.masthead.section {
    padding-top: 100px;
}
.content.section {
    padding-bottom: 100px;
}

#intro {
    background-position: right bottom;
    background: url('images/intro-background.png');
    background-size: cover;
}

#page-content {
    background: #fff;
    padding: 50px 0;
}

#programme {
    /*background: url('images/programme-background.png');
    */
    background: #fff;
    background-position: right top;
    background-repeat: no-repeat;
}

/* Maybe a more appropriate way to add this styling with semantic ui */
#programme .line-up h3 {
    display: inline-block;
    margin: 0;
}

#programme .line-up h3 a{
    text-decoration: none;
    color: black;
}

#programme .line-up h3 a::after {
    content: " / ";
    font-weight: 700;
    margin: .3em;
    color: #73f4a1;
}


#tickets.section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 120px;
    background: url('images/tickets-background.png');
    background-position: center;
    min-height: 800px;
    background-repeat: no-repeat;
}

#get-involved {
    margin: 150px auto;
    background: white;
}

#footer {
    width: 100%;
    min-height: 520px;
    background-color: #ff2c63;
    background-image: url('images/pattern-translucent.png');
}

#partners {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 75px;
    background-color: #000;
    background-image: url('images/pattern-translucent.png');
}

#footer a {
    color: #fff;
}

#sidebar {
    position: fixed;
    top: 60px;
    right: 50px;
    background-color: #000;
    background-image: url('images/title-outline.png');
    width: 60px;
    height: 396px;
    transition: background 1s ease;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background: #ff2c63;
    width: 100%;
    z-index: 100;
}

/* basically just iphone 5 */
@media only screen and (max-width: 350px) {
    #hamburger .image {
        width: 230px;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    #sidebar {
        display: none;
    }
}

/* mobile, tablet */
@media only screen and (max-width: 1200px) {
    #header.expanded {
        height: 100%;
    }
    #hamburger {
        display: block;
    }
    #twt2018 {
        background: #fff;
    }
    #tickets {
        background: #fff;
    }
    #get-involved {
        padding: 70px 0; /* to compensate for header */
    }
    #programme {
        background: #fff;
        padding: 70px 0; /* to compensate for header */
    }
    #desktop-menu {
        display: none;
    }
}

#twt2018 {
    padding-top: 100px;
}

#hamburger {
    color: #fff;
    padding: 10px;
}

#mobile-menu {
    display: none;
}

@media only screen and (min-width: 1200px) {
    #hamburger {
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    #desktop-menu {
        display: block;
    }
}

#get-involved {
    /* The logistics email address is too long lol */
    word-break: break-word;
}
