#content {
   background: url('images/Pattern-Tiled-1.png');
}

.masthead.section {
    padding-top: 100px;
}

.masthead span {
    color: #ff2c63;
}
.content.section {
    padding-bottom: 100px;
}

#intro {
    background-position: right bottom;
    background: url('images/intro-background.png');
    background-size: cover;
}

#page-content {
    background: #fff;
    padding: 50px 0;
}

#programme .container {
    /*background: url('images/programme-background.png');
    */
    background: #fff;
    background-position: right top;
    background-repeat: no-repeat;
}

/* Maybe a more appropriate way to add this styling with semantic ui */
#programme .line-up h3 {
    display: inline-block;
    margin: 0;
}

#programme .line-up h3 a{
    text-decoration: none;
    color: black;
}

#programme .line-up h3 a::after {
    content: " / ";
    font-weight: 700;
    margin: .3em;
    color: #73f4a1;
}


#tickets.section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 120px;
    background: url('images/tickets-background.png');
    background-position: center;
    min-height: 800px;
    background-repeat: no-repeat;
}

#get-involved {
    margin: 150px auto;
    background: white;
}

#footer {
    width: 100%;
    /*min-height: 520px;*/
    background-color: #ff2c63;
    /*background-image: url('images/pattern-translucent.png');*/
}

#partners {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 75px;
    background-color: #000;
    /*background-image: url('images/pattern-translucent.png');*/
}

#footer a {
    color: #fff;
}

#sidebar {
    position: fixed;
    top: 60px;
    right: 1em;
    background-color: #000;
    background: url('images/title-outline-2.png') no-repeat center center fixed;
    width: 90px;
    height: 100%;
    transition: background 1s ease;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menu-sidebar {
    position: fixed;
    top: 60px;
    right: 50px;
    /*background-color: #000;*/
    background-image: url('images/Title-hi-res-White.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 100%;
    transition: background 1s ease;
    display: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 100;
}

/*
 * Header background should be transparent on mobile when collapsed
 * Header background should be pink when expanded
 * Burger should become cross
 * Undershadow should be top 0 on mobile.
 * Menu to grow from top or from side?
 */

#undershadow {
    position: fixed;
    height: 25px;
    left 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(rgba(255,44,99,1), rgba(0,0,0,0));
}

/* basically just iphone 5 */
@media only screen and (max-width: 350px) {
    #hamburger .image {
        width: 230px;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    #sidebar {
        display: none;
    }
    #undershadow {
        top: 0;
    }  
    #header {
        background: none; /*#ff2c63*/;
    }
} 

/* mobile, tablet */
@media only screen and (max-width: 1200px) {
    #hamburger {
        display: block;
    }
    #twt2018 {
        background: #fff;
    }
    #tickets {
        background: #fff;
    }
    #get-involved {
        padding: 70px 0; /* to compensate for header */
    }
    #programme {
        background: #fff;
        padding: 70px 0; /* to compensate for header */
    }
    #desktop-menu {
        display: none;
    }
}

#twt2018 {
    padding-top: 100px;
}

#menu-button {
    color: #000;
    padding: 10px;
}

#mobile-menu {
    display: none;
}

#header.expanded {
    background: #ff2c63;
    height: 100%;
}

#menu-cross {
  display: none;
}

#header.expanded #menu-cross {
    display: block;
}

#header.expanded #menu-sidebar {
    display: block;
}

#header.expanded #hamburger {
    display: none;
}


@media only screen and (min-width: 767px) {
    #menu-button {
        display: none;
    }

    #menu-cross {
        display: none;
    }

    #mobile-menu {
        display: none;
    }

    #desktop-menu {
        display: block;
    }
}

#get-involved {
    /* The logistics email address is too long lol */
    word-break: break-word;
}
