<div class="ui two column stackable grid">
    <div class="row">
        <div class="six wide column">
            <img src="/images/logo-white.png" class="ui fluid image">
        </div>
    </div>
    <div class="row">
        <div class="eight wide column">
        </div>
        <div class="eight wide column">
            <h4 class="ui inverted header">Design by Arby Hisenaj</h4>
            <br />
            <div class="ui vertical text inverted menu">
                <a class="active item" href="/privacy/">
                    Privacy policy
                </a>
                <div class="item">
                    &copy; The World Transformed Ltd.
                </div>
            </div>
        </div>
    </div>
</div>
