<div class="ui centered stackable grid">
    <div class="row">
        <div class="six wide column">
            <img src="/images/logo-white.png" class="ui fluid image">
        </div>
        <div class="six wide column"></div>
    </div>
    <div class="row">
        <div class="six wide column">
        </div>
        <div class="six wide column">
            <div class="ui vertical text inverted menu">
                <a class="item" href="/about.html">
                    About
                </a>
                <a class="item" href="/faq">
                    FAQ
                </a>
                <a class="item" href="/privacy.html">
                    Privacy policy
                </a>
                <a class="item" href="https://twitter.com/TWT_NOW">
                    <i class="twitter icon"></i>
                    @TWT_NOW
                </a>
                <a class="item" href="https://facebook.com/TWTNow">
                    <i class="facebook icon"></i>
                    @TWTNow
                </a>
            </div>
            <h4 class="ui inverted header">
                &copy; The World Transformed Ltd.
            </h4>
        </div>
    </div>
</div>
