<div class="twelve wide column">
    <h1 class="ui header">Get involved</h1>
    <div class="ui fluid accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            Volunteer
        </div>
        <div class="active content">
            <p>
            TWT relies on a diverse team of incredible volunteers who help to
            plan and run the festival. Interested in coming on board? Then
            please fill out our volunteers application form <a
            href="https://theworldtransformed.typeform.com/to/ZDNwRQ">here</a>! 
            </p>
            <p>
            If you live in Liverpool and would like to help us make our
            festival as accessible as possible by offering up a spare bed or
            sofa in your house, please fill in our couchsurfing form <a
            href="https://docs.google.com/forms/d/1Z-P0zHfiHHfhgBIid2w1G0yYEU0YQgeoSl_HxqVGWvU/viewform?ts=5b1e80c3&edit_requested=true">here</a>!
            </p>
            <p>
            For enquiries about volunteering, or anything else relating to the
            logistics of the festival, please email
            <strong>
                <a href="mailto:logistics@theworldtransformed.org">
                    logistics@theworldtransformed.org
                </a>
            </strong>
            </p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Press/Media
        </div>
        <div class="content">
            <p>
            Interested in attending TWT 2018 as a journalist? In the run-up
            to the festival we will be establishing an accreditation
            process for press and media - watch this space! 
            </p>
            <p>
            For other general press/media enquiries, please email
            <strong>
                <a href="mailto:press@theworldtransformed.org">
                    press@theworldtransformed.org
                </a>
            </strong>
            </p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Programme
        </div>
        <div class="content">
            <p>
            Check out our <a href="#programme">Programme</a> section to find
            out more details on the content of this year’s festival and to
            submit a session proposal!
            </p>
            <p>
            For general Programme enquiries, please email
            <strong>
                <a href="mailto:programme@theworldtransformed.org">
                    programme@theworldtransformed.org
                </a>
            </strong>
            </p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Arts
        </div>
        <div class="content">
            <p>
            Arts, music and performance is a central part of what we do. If you
            want to get involved in our Arts programme, please email
            <strong>
                <a href="mailto:arts@theworldtransformed.org">
                    arts@theworldtransformed.org
                </a>
            </strong>
            </p>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui center aligned basic segment">
        <p>
            For all other enquiries, please contact
            <br />
            <strong>
                <a href="mailto:info@theworldtransformed.org">
                    info@theworldtransformed.org
                </a>
            </strong>
        </p>
    </div>
</div>
