<div id="menu-sidebar" >
</div>
<div id="menu-button">
    <i id="hamburger" class="big content icon"></i>
    <i id="menu-cross" class="green big times icon"></i>
</div>

<div id="mobile-menu" class="ui pink inverted fluid vertical menu">
    {% include menu.html %}
</div>
<div id="desktop-menu" class="ui container">
    <div class="ui centered grid">
        <div class="fourteen wide column">
            <div class="ui massive six item secondary menu">
                {% include menu.html %}
            </div>
        </div>
    </div>
</div>
<div id="undershadow">

</div>
