<a href="#main-menu"
    class="menu-toggle"
    role="button"
    id="main-menu-toggle"
    aria-expanded="false"
    aria-controls="main-menu"
    aria-label="Open main menu">
    
    <span class="sr-only">Open main menu</span>
    <div class="hamburger" aria-hidden="true">
      <div class="hamburger-bar"></div>
      <div class="hamburger-bar"></div>
      <div class="hamburger-bar"></div>
    </div>
  
</a>
<nav id="main-menu"
  class="main-menu"
  role="navigation"
  aria-expanded="false"
  aria-label="Main menu">
      
  <a href="#main-menu-toggle"
    class="menu-close"
    role="button"
    id="main-menu-close"
    aria-expanded="false"
    aria-controls="main-menu"
    aria-label="Close main menu">
      
    <span class="sr-only">Close main menu</span>
    <span class="" aria-hidden="true">X</span>
  </a>
    
   {% include menu.html %}

</nav>
  

{% comment %}
<div id="menu-sidebar" >
</div>
<div id="menu-button">
    <i id="hamburger" class="big content icon"></i>
    <i id="menu-cross" class="green big times icon"></i>
</div>

<div id="mobile-menu" class="ui pink inverted fluid vertical menu">
    {% include menu.html %}
</div>

<nav id="desktop-menu">
  {% include menu.html %} 
</nav>

<div id="nav-shadow"></div>
{% endcomment %}
