<div id="hamburger">
    <i class="big content icon"></i>
    <div class="ui medium image">
        <img src="/images/title-vertical.png" alt="The World Transformed" />
    </div>
</div>
<div id="mobile-menu" class="ui pink inverted fluid vertical menu">
    {% include menu.html %}
</div>
<div id="desktop-menu" class="ui container">
    <div class="ui centered grid">
        <div class="twelve wide column">
            <div class="ui inverted massive pink six item menu">
                {% include menu.html %}
            </div>
        </div>
    </div>
</div>
