<div class="row">
    <div class="twelve wide column">
        <h1 class="ui header">TWT 2018</h1>
    </div>
</div>
<div class="row">
    <div class="six wide column">
        <p>
        We are The World Transformed - a 4-day politics,
        arts and music festival running alongside the
        Labour Party Conference, working to build left
        power both inside and outside of Parliament.
        </p>
        <p>
        Since 2016 we’ve been mixing big names with the
        most inspiring grassroots voices and tackling
        topics that others overlook. We showcase politics
        as it should be: exciting, engaging and
        people-powered. 
        </p>
    </div>
    <div class="six wide column">
        <p>
        This year’s festival will double in size, platform
        voices from all over the world, and have a more
        innovative programme than ever before. TWT 2018
        will create an open space for collective political
        education that will strengthen our entire movement. 
        </p>
        <p>
        The World Transformed is about imagining the world
        we want to live in and planning how we get there.
        And it’s about doing it together.
        </p>
    </div>
</div>
<div class="row">
    <div class="twelve wide center aligned column">
        <p><strong>
        Come along to TWT 2018 to get involved!
        </strong></p>
    </div>
</div>
