<div class="twelve wide column">
    <div class="ui middle aligned grid">
        <div class="three column stackable row">
            {% for partner in site.data.partners.primary %}
            {% include partner.html %}
            {% endfor %}
        </div>
        <div class="six column doubling row">
            {% for partner in site.data.partners.secondary %}
            {% include partner.html %}
            {% endfor %}
        </div>
    </div>
    <h3 class="ui inverted header">Partners</h3>
</div>
