<div class="twelve wide column">
    <h1 class="ui inverted header">Partners</h1>
    <div class="ui middle aligned grid">
        <div class="three column stackable row">
            {% for partner in site.data.partners.primary %}
            {% include partner.html %}
            {% endfor %}
        </div>
        <div class="six column doubling row">
            {% for partner in site.data.partners.secondary %}
            {% include partner.html %}
            {% endfor %}
        </div>
    </div>
    <h2 class="ui inverted header">Media partners</h2>
    <div class="ui middle aligned grid">
        <div class="three column stackable row">
            {% for partner in site.data.partners.media %}
            {% include partner.html %}
            {% endfor %}
        </div>
    </div>
</div>
