<div class="ui three stackable cards">
    {% for row in site.data.press.sessions %}
    {% assign slug = row[0] %}
    {% assign session = site.data.programme.sessions[slug] %}
    <div class="card">
        <a class="image" href="/sessions/{{ slug }}">
            <img src="/images/sessions/cropped/{{ session['image'] }}.jpg" />
        </a>
        <div class="content">
            <a class="header" href="/sessions/{{ slug }}">
                {{ session.title }}
            </a>
            <div class="meta">
                {% include speakers.html speakers=session.speakers %}
            </div>
            <div class="ui divider"></div>
            {% for article in row[1].articles %}
            {% include article_ribbon.html type=article.type %}
            <span class="description">
                <strong>{{ article.publication }}</strong>
            </span>
            <div class="description">
                <a href="{{ article.url }}">
                    <strong>{{ article.title }}</strong>
                    <i class="external link icon"></i>
                </a>
                by {{ article.author }}.
                {{ article.details }}
                ({{ article.date }})
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
