<div class="row">
    <div class="twelve wide column">
        <h1 class="ui header">Programme</h1>
    </div>
</div>
<div class="row">
    <div class="six wide column">
        <a class="ui large fluid pink button" href="/programme">
            View the 2018 programme
        </a>
    </div>
</div>
<div class="row">
    <div class="ten wide center aligned column">
        <p>
            Recordings and write-ups of individual sessions will be linked from
            the webpage for each session (or you can view them all on the <a
            href="/press">Press</a> page).
        </p>
    </div>
</div>
