<div class="ui segment">
<p>
    Join our mailing list to get the latest updates on TWT!
</p>
<form
action="https://theworldtransformed.us1.list-manage.com/subscribe/post?u=7c6d9b034e09da3f08695cbf6&amp;id=ec52e569ee"
method="post" name="mc-embedded-subscribe-form"
class="ui form" target="_blank" novalidate>
    <div class="fields">
        <div class="twelve wide field">
            <input type="email" value="" name="EMAIL" class="email"
        placeholder="email address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
        type="text" name="b_7c6d9b034e09da3f08695cbf6_ec52e569ee" tabindex="-1"
        value=""></div>
        </div>
        <div class="four wide field">
            <input type="submit" value="Subscribe" name="subscribe" class="ui fluid pink button">
        </div>
    </div>
</form>
</div>
