<div class="row">
    <div class="six wide column">
        <h1 class="ui header">Tickets</h1>
        <table class="ui very basic table">
            <tbody>
                <tr>
                    <td><strong>Solidarity</strong></td>
                    <td><strong>£35</strong></td>
                </tr>
                <tr>
                    <td><strong>Standard</strong></td>
                    <td><strong>£20</strong></td>
                </tr>
                <tr>
                    <td><strong>Student/Low Income</strong></td>
                    <td><strong>£15</strong></td>
                </tr>
                <tr>
                    <td><strong>Unwaged</strong></td>
                    <td><strong>£0</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="six wide column">
    </div>
</div>
<div class="row">
    <div class="six wide column">
    </div>
    <div class="six wide center aligned column">
        <a class="ui massive fluid black button"
           href="http://buytickets.at/theworldtransformed/173677">
            Buy tickets
        </a>
        <br />
        <p>
            For any ticket-related enquiries, please email
            <br />
            <strong>tickets@theworldtransformed.org</strong>
        </p>
    </div>
</div>
