@import "variables";

#footer a {
    color: $white;
}

#footer {
    width: 100%;
    /*min-height: 520px;*/
    background-color: $pink;
    /*background-image: url('images/pattern-translucent.png');*/
}


