@import "variables";

/*
 * Header background should be transparent on mobile when collapsed
 * Header background should be pink when expanded
 * Burger should become cross
 * Undershadow should be top 0 on mobile.
 * Menu to grow from top or from side?
 */
/*
#header {
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    width: 100%;
    z-index: 100;
}
*/

#desktop-menu {
    width: 100%;
    position: fixed;
    z-index: 3;
    padding: 0 4em;
    background: $white;
    border: 1px solid #ccc;
    border-right: none;
    height: $nav-height;
    //font
    //text-align
    // overflow
    //top
}

#desktop-menu ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

#desktop-menu ul li {
    float: left;
    text-align: center;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 5);
    //margin-top
    //display: inline-block;
}

#desktop-menu ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
    //position: relative;
    //margin: 0;
}

#nav-shadow {
    position: fixed;
    height: 30px;
    left: 0;
    width: 100%;
    z-index: 3;
    background: linear-gradient(rgba(255,44,99,1), rgba(0,0,0,0));
    top: 50px;   //for mobile 
}

/* Up to mobile breakpoint */
@media only screen and (max-width: $screen-sm) {
  #nav-shadow {
    top: 0;
  }
  
  #header {
    background: none;
  }

  #hamburger {
    display: block;
  }

  #desktop-menu {
    display: none;
  } 
}


/* beyond mobile */
@media only screen and (min-width: $screen-sm) {
 
  #desktop-menu {
    display: block;
  }
  
  #menu-button {
    display: none;
  }

  #menu-cross {
    display: none;
  }

  #mobile-menu {
    display: none;
  }

}

#menu-button {
    color: $black;
    padding: 10px;
}

#mobile-menu {
    display: none;
}

#header.expanded {
    background: $pink;
    height: 100%;

    #menu-cross {
      display: block;
    }

    #menu-sidebar {
      display: block;
    }

    #hamburger {
      display: none;
    }
}

#menu-cross {
  display: none;
}

#menu-sidebrand {
    position: fixed;
    top: 60px;
    right: 50px;
    /*background-color: $black;*/
    background-image: url('images/Title-hi-res-White.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 100%;
    transition: background 1s ease;
    display: none;
}

/* basically just iphone 5 */
@media only screen and (max-width: 350px) {
    #hamburger .image {
        width: 230px;
    }
}


