/*-- Base Sizes --*/

/* This is the single variable that controls them all */
$emSize   : 22px;

/* The size of page text  */
$font-xs  : 0.8em;
$font-sm  : 1em;
$font-md  : 1.2em;
$font-lg  : 1.5em;

// minimume screen sizes - xs should be default
$screen-sm : 576px;   // e.g landscape phones
$screen-md : 768px;  // e.g tablets
$screen-lg : 992px;  // e.g desktops


/*-- Colours --*/
$pink   : #ff2c63;
$green  : #73f4a1;
$blue   : #001a89;
$white  : #ffffff;
$black  : #000000;

$nav-height: 50px;
