---
layout: default
---
{% assign session = site.data.programme.sessions[page.slug] %}
<div class="masthead section">
</div>
<div class="content section" data-background="#ea506e">
    <div class="ui container">
        <div id="page-content">
            <p>
                <a href="/programme">
                    &laquo; Back to programme
                </a>
            </p>
            <div id="session-image"
                 style="background-image:url('/images/sessions/{{ session.image
                 }}.jpg')">
            </div>
            <div class="ui middle aligned divided stackable grid">
                <div class="four wide center aligned column">
                    <h2 class="ui header">
                        <div class="sub header">
                            {{ session.day }}
                        </div>
                        {{ session.time }}
                        <div class="sub header">
                            {{ session.venue }}
                            {{ session.room }}
                        </div>
                    </h2>
                </div>
                <div class="nine wide column">
                    <h2 class="ui header">
                        {{ session.title }}
                        <div class="sub header">
                            {{ session.organiser }}
                        </div>
                    </h2>
                </div>
                <div class="three wide column">
                    {% capture speakers %}{% include speakers.html speakers=session.speakers %}
{% endcapture %}
                    <a class="ui icon blue button"
                       href="http://www.google.com/calendar/render?action=TEMPLATE&text={{ session.title|url_encode }}&dates={{ session.start_timestamp }}/{{ session.end_timestamp }}&details={% unless session.organiser == '' %}Organised+by+{{ session.organiser|url_encode }}.+{% endunless %}{% unless session.speakers == '' %}Featuring {{ speakers|url_encode }}{% endunless %}Details+on+The+World+Transformed+website+at+{{ site.url }}{{ page.url }}&location={{ session.venue|url_encode }}+{{ session.room|url_encode }}&sf=true&output=xml"
                       target="_blank" rel="nofollow">
                       <i class="calendar alternate icon"></i>
                       Add to Google calendar
                    </a>
                </div>
            </div>
            <br />
            <div class="ui centered middle aligned stackable grid">
                <div class="sixteen wide column">
                    {{ session.description|markdownify }}
                </div>
            </div>
            <br />
            <hr />
            <br />
            {% if session.speakers == '' %}
            <h2 class="ui centered header">
                Speakers to be announced!
            </h2>
            {% else %}
            <h2>Speakers</h2>
            <div class="ui three column stackable grid">
                {% assign speaker_slugs = session.speakers | split:" " %}
                {% for speaker_slug in speaker_slugs %}
                    {% assign speaker = site.data.programme.speakers[speaker_slug] %}
                    <div class="column">
                        <div class="speaker"
                             style="background-image: url('/images/speakers/{% if speaker['photo'] %}{{ speaker_slug }}.jpg{% else %}default.png{% endif %}">
                        </div>
                        <h3 class="ui centered header">
                            <a href="/speakers#{{ speaker_slug }}">
                                {{ speaker.name }}
                            </a>
                            {% unless speaker.twitter == '' %}
                            <a href="{{ speaker.twitter }}">
                                <i class="twitter icon"></i>
                            </a>
                            {% endunless %}
                            <div class="sub header">
                                {% unless speaker.tag == '' %}
                                {{ speaker.tag }}
                                {% unless speaker.organisation == '' %}//{% endunless %}
                                {% endunless %}
                                {{ speaker.organisation }}
                            </div>
                        </h3>
                        {{ speaker.bio|markdownify }}
                    </div>
                {% endfor %}
                {% unless session.final %}
                <div class="column">
                    <h2 class="ui icon header">
                        <i class="plus icon"></i>
                        More speakers to be announced!
                    </h2>
                </div>
                {% endunless %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
